body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background: rgb(84,29,98);
background: linear-gradient(40deg, rgba(84,29,98,1) 0%, rgba(56,45,102,1) 31%, rgba(0,79,109,1) 73%, rgba(144,202,226,1) 100%);
  position: relative;
}

.background{
  display: inline-block;
  background-image: url(../img/fonas.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(20px);
  width: 100%;
  height: 100vh;
}

main {
  display: inline-block;
  width: 800px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.left-column {
  width: 40%;
  float: left;
  padding: 50px;
  background-color: white;
  background-image: url(../img/fonas.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 20px;
  bottom: 20px;
}

.right-column {
  width: 60%;
  float: right;
  background-color: white;
  padding: 50px;
}

.main-title{
  font-size: 55px;
  color: white;
  line-height: 45px;
}

.bottom-links{
  position: absolute;
  left: 50px;
  right: 50px;
  bottom: 20px;
}

.bottom-links > a:hover{
  text-decoration: underline;
}

.bottom-links > a{
  text-decoration: none;
  color: white;
}

.bottom-links > span{
  color: white;
}

.close{
  display: inline-block;
  color: lightgray;
  width: 50px;
  height: 50px;
  line-height: 47.5px;
  text-align: center;
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0;
}
